<h2><%= @project.title %></h2>
<p>Project ID: <%= @project.id %></p>

<form action="/edit_projects" method="post">
  <div class="form-group">
    <input name="id" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Submit changes!</button>
</form>

<p><a href=/>Return to Projects</p>
