<h2><%= @project.title %></h2>
<p>Project ID: <%= @project.id %></p>

<p><a href="/edit_projects/<%= @project.id %>/edit">Edit Project</a></p>

<form class="" action="/projects/<%= @project.id %>/add" method="post">
    <label for="">Add Volunteer</label>
    <input type="text" name="name" value="" required>
    <button type="submit">Add Volunteer</button>
  </form>
  <br>
