<h3>Volunteers:</h3>
<% if @volunteers.any? %>
    <%@volunteers.each do |volunteer| %>
    <ul>
        <li><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    </ul>
    <% end %>
    <% else %>
      <p>There are no volunteers to display!</p>
    <% end %>
